
body {
    background-image: url(https://png.pngtree.com/background/20210711/original/pngtree-classical-ink-painting-bamboo-background-material-picture-image_1130331.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
    min-height: 100vh;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://i.pinimg.com/736x/a3/2a/b6/a32ab69335760ba25ae96ce8b1f2f670.jpg);
    padding: 5px;
    border: 1px solid black;
}

.nav > .buttons > button {
    padding: 10px;
    cursor: pointer;
}

.card {
    background-image: url(https://i.pinimg.com/736x/24/bb/98/24bb98c31371b59f59e6261dd8e4d8a9.jpg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    position: relative;
}

.card > p {
    margin: 40px;
}

#add-book-form {
    flex-direction: column;
    background-color: white;
    border: solid 1.5px black;
    padding: 20px;
    margin: 5px;
    text-align: center;
}

#submit {
    margin-top: 10px;
}

.browse {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    width: 100vw;
}

.browse > * {
    border: 2px solid black;
    text-align: center;
}

.browse > div  {
    margin: 20px;
    min-width: 300px;
}

.close {
    display: none;
}

.close-card {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
}

.card .close-button {
    background-color: #3f3f3f;
    color: #e5dfd3;
    cursor: pointer;
    display: none;
}

.card:hover .close-button {
    display: block;
}

.library {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.library > * {
    margin: 20px;
}

.title, .author, .pages, .status {
    text-transform: capitalize;
}



